<h2>Welcome to login page</h2>
<form asp-action="Login" autocomplete="off">
	<label>Login:
		<input type="text" name="username" />
	</label>
	<br />
	<label>Password:
		<input type="password" name="password" />
	</label>
	<br />
	<input type="submit" value="LOGIN" />
</form>

@if(ViewBag.Error != null){
	<div style="color:red">@ViewBag.Error</div>
}