<h2>Add a book</h2>
<form asp-action="Add" autocomplete="off">
	<label>Title:
		<input type="text" name="title" />
	</label>
	<br />
	<label>Author:
		<input type="text" name="author" />
	</label>
	<br />
	<label>Year:
		<input type="text" name="year" />
	</label>
	<br />
	<input type="submit" value="ADD" />
</form>

@if (ViewBag.Error != null){
	<div style="color:red">@ViewBag.Error</div>
}